@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.button {
  padding: 10px 36px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  line-height: 20px;

  background-image: linear-gradient(#ffe17f, #ffe17f);
  background-size: 100% 8px;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;

  transition: background-size 0.2s ease-in;
}

.container {
  margin: 0 auto;
  width: 1160px;
}

/* Pages */
.header-container {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  color: #000000;
  background-color: #ffe17f;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-size: 100% 33px;
  background-repeat: no-repeat;
}

.header-logo {
  margin-bottom: 19px;
}

.logo {
  display: block;
  width: 145px;
  transition: opacity 0.15s ease-in;
}

.navigation-user-wrap {
  display: grid;
  grid-template-columns: 517px 1fr;
  column-gap: 27px;
  align-items: start;
  margin-bottom: 41px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user-item {
  padding: 5px 0;
}

.navigation-user-item:first-child {
  margin-right: auto;
}


.navigation-user-link {
  display: inline-block;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
  line-height: 30px;
}

.icon-login {
  padding-left: 26px;
  background-image: url("../images/icon-login.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.icon-compare {
  padding-left: 20px;
  background-image: url("../images/icon-compare.svg");
  background-position: left center;
  background-repeat: no-repeat;
}

.icon-cart {
  position: relative;
  padding-left: 43px;
  background-position: left 15px top calc(50% - 2px);
  background-image: url("../images/icon-cart.svg");
  background-repeat: no-repeat;
}

.cart {
  position: relative;
}

.cart-counter {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-width: 21px;
  min-height: 21px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
}

.search-form-text {
  position: relative;
  display: block;
  padding: 8px 14px 8px 46px;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 14px center;
  border: 2px solid #000000;
  border-right-width: 1px;
  border-radius: 50px 0 0 50px;
  transition: background-color 0.15s ease-in;
  -webkit-appearance: none;
  appearance: none;
}

.search-form-text::placeholder {
  opacity: 0.3;
}

.search-form-button {
  display: block;
  width: 100%;
  height: 100%;
  padding: 9px 54px;
  background-color: transparent;
  border: 2px solid #000000;
  border-left-width: 1px;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  list-style: none;
}

.navigation {
  z-index: 2;
  position: relative;
}

.navigation-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 15px 45px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-catalog {
  position: relative;
  margin-right: auto;
  padding: 0;
}

.navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 3.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.menu-dropdown {
  position: absolute;
  top: -10px;
  right: -60px;

  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  cursor: pointer;
}

.menu-dropdown::before,
.menu-dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 16px;
  height: 2px;

  background-color: rgba(0, 0, 0, 0.3);
}

.menu-dropdown::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.menu-dropdown:hover::after, .menu-dropdown:focus::after {
  display: none;
}





.navigation-dropdown {
  display: block;
  position: absolute;
  top: 20px;
  left: -60px;
  width: 1160px;
  background-color: red;
  z-index: 10;
}

.navigation-catalog:hover .navigation-dropdown,
.navigation-catalog:focus-within .navigation-dropdown,
.menu-dropdown:focus-within .navigation-dropdown {
  display: block;
}

.navigation-dropdown {
  display: none
}

.navigation-dropdown-list {
  margin: 0;
  padding: 33px 0 33px 60px;
  column-count: 3;

  list-style-type: none;
}

.navigation-dropdown-link {
  page-break-inside: avoid;
  break-inside: avoid;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.main-container {
  width: 100%;
  flex-grow: 1;
}

.hero {
  margin: 0 auto;
  padding-bottom: 0;
}

.slider-hero {
  position: relative;
}

.slider-hero-image {
  display: block;
  margin: 0 auto;
}

.slider-hero-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-hero-content {
  z-index: 1;
  padding-top: 100px;
  padding-bottom: 25px;
}

.slider-hero-item {
  display: grid;
  position: relative;
  grid-template-columns: 560px 1fr;
  column-gap: 40px;
  background-color: #ffffff;
  background-image: linear-gradient(180deg, #ffe17f 114px, #ffffff 114px);
  counter-increment: slider;
}

.slider-hero-item::after {
  content: "0" counter(slider);
  position: absolute;
  top: 48px;
  right: 49px;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
}

.slider-hero-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-hero-parameter {
  display: flex;
  flex-wrap: wrap;
}

.parameter-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.parameter-key {
  font-size: 16px;
  line-height: 30px;
}

.parameter-value {
  order: -1;
  margin: 0;
  padding-bottom: 12px;
  padding-right: 58px;
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.slider-controls {
  position: absolute;
  top: 39%;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 530px;
}

.arrow-prev {
  padding: 0;
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url("../images/icon-arrow-prev.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.arrow-next {
  padding: 0;
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url("../images/icon-arrow-next.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  transition: opacity 0.15s ease-in;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-item {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  width: 160px;
  background-color: #ffe17f;
}

.icon-VR::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background-image: url("../images/icon-VR.svg");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.icon-monopod::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background-image: url("../images/icon-monopod.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  content: "";
}

.icon-actioncamera::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background-image: url("../images/icon-actioncamera.svg");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.icon-fitbit::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background-image: url("../images/icon-fitbit.svg");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.icon-smartwatch::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background-image: url("../images/icon-smartwatch.svg");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.icon-quadcopter::before {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  background-image: url("../images/icon-quadcopter.svg");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
}

.categories-link {
  display: block;
  width: 100%;
  margin-top: 160px;
  padding-top: 32px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.services {
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 72px;
  background-color: #f0f0f0;
  background-image: linear-gradient(0deg, #f0f0f0 68%, #ffffff 68%);
}

.services-wrap {
  display: grid;
  grid-template-columns: 287px 1fr;
}

.services-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  color: #000000;
}

.services-content {
  margin: 0;
  padding: 0;
  list-style: none;
}

.delivery {
  padding: 70px 0;
  margin-bottom: 40px;
}

.delivery-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  text-decoration: none;
}

.delivery-wrap::before {
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
  background-image: url("../images/icon-delivery.svg");
  background-repeat: no-repeat;
  background-position: center center;
  content: "";
  justify-self: flex-start;
}

.delivery-wrap::after {
  width: 40px;
  height: 40px;
  margin-right: 42px;
  background-color: #dcdcdc;
  background-image: url("../images/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  content: "";
}

.delivery-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #000000;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.company-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 96px;
}


.aboutus-title {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 67px;
  color: #000000;
  border: 1px solid red;
}

.aboutus-title::after {
  position: absolute;
  top: -40px;
  left: 0;
  width: 84px;
  height: 7px;
  background-color: #000000;
  content: "";
}



.aboutus ul {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.contacts h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.newsletter {
  background-color: #f0f0f0;
}

.newsletter-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.footer-address {
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  color: #ffffff;
}

.page-footer {
  width: 100%;
  background-color: #444444;
}

.footer-wrap {
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  align-items: center;
  gap: 47px 20px;
}


.footer-navigation .navigation-link {
  color: #ffffff;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.social-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 15px;
}

.social-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;

  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;

  transition: background-color 0.15s ease-in;

}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #000000;
}

.catalog-filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.filter-group-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.32px;
  color: #000000;
}

.product-card-price {
  font-size: 18px;
  font-weight: 400;
}

.product-list-button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000000;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

.pagination-link.next {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 3.2px;
  color: #000000;
  text-decoration: none;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}
